@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>City Hospital</h1>
    <p class="lead justify-content-around">Our passion well reflects in the fact that we set the industry standards when it comes to cure, care and comfort. To deliver International Class healthcare with a total service focus, by creating an institution committed to the highest standards of medical & service excellence, patient care, scientific knowledge and medical education.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Improved Management</h2>
        <p>
            It also improved the management visibility of hospital, all information, and data regarding the patient, doctor and medicine could be seen by any department easily.
        </p>
    </div>
    <div class="col-md-4">
        <h2>User Support</h2>
        <p>Hospital Management System developed by Cyber Group Inc allows unlimited user support whenever assistance is required by the client.</p>
    </div>
    <div class="col-md-4">
        <h2>Quality</h2>
        <p>Hospital Management System developed by Cyber Group Inc improves the quality control on the products and services of the hospital.</p>
    </div>
</div>